h1{
    width: 1200px;
    height: 40px;
    border: 2px solid red;
    background-color: rgb(138, 89, 184);
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
}
i{
    color: red;
}
h2{
    color: green;
}
h3{
    width: 1200px;
    height: 20px;
    background-color: yellow;
    color: green;
    text-align: center;
}
.img-2{
    width: 530px;
}
.label{
    color: green;
}
.input{
    width: 1100px;
    height: 30px;
}
.label-2{
    color: green;
}
.btn-1{
    width: 200px;
    height: 30px;
    background-color: rgb(90, 90, 221);
    color: white;
    border: 2px solid white;
}
.th-1{
    color: white;
    background-color: green;
    width: 150px;
    font-size: 15px;

}
.th-2{
    color: white;
    background-color: blue;
    width: 700px;
    font-size: 15px;
}
.td-1{
    color: white;
    background-color: red;
    width: 150px;
    font-size: 15px;
}
.td-2{
    color: white;
    background-color: black;
    width: 700px;
    font-size: 15px;
    text-align: center;
}
.td-3{
    color: white;
    background-color: red;
    width: 150px;
    font-size: 15px;
}
.td-4{
    color: white;
    background-color: black;
    width: 700px;
    font-size: 15px;
    text-align: center;
}
